#btnReset {
    width: 100px;
}

.invisible {
    display: none;;
}

.bg-red {
    background-color: red;
}
.search-wrapper {
    position: fixed;
    top: 0px;    
    width: 100%;
    background: black;
    padding: 5px;
}

.search-wrapper input {
    padding: 0.25rem 0.5rem;
}

h2 {
    color: darkgray;
}

.highlight {
    background-color: #FFFF00;
}

.btn-expand {
    margin-top: 1em;
}

/* customization - override github.css */
p {
    margin-bottom: .5rem !important;
    margin-top: 0 !important;
}

h1 {
    font-size: 2rem;
}
h1.font-size-normal {
    font-size: 1rem !important;
}

h2 {
    font-size: 1.5rem;
}

.h1-wrapper button {
    margin-left: 30px;
    margin-top: -5px;
}

/* table td {
    border: 1px solid #ddd;
} */

img.sm {
    width: 200px;
    border: 1px solid #ccc !important;
    border-radius: 5px;
    cursor: pointer;
}

/* jspdf was making pdf with background, black (#1b1f230d) */
code {
    background-color: transparent !important;
}

.green {
    /* background: #28a745;
    color: white; */
    font-weight: bold;
}

.orange {
    /* background: #28a745;*/
    color: orangered;
}

/* shows items in a row. Too many items now.
15/5/24
*/
.work-index .markdown-body ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0 40px;
        white-space: nowrap;
        max-width: 1200px;
        flex-wrap: wrap;
        margin-bottom: 0px !important; /*override github css*/
}

/* photoswipe fix 11/2/25 */

.pswp--touch .pswp__button--arrow {
    visibility: visible !important;
}

.invisible {
    display: none;
}

.copied {
    color: blue;
}